<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Factory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="header">
      <h1>Factory Manager</h1>
    </div>

    <div class="lowerheader">
      <div class="button">
        <p>@Html.ActionLink("|| Home ||", "Index", "Home")</p>
      </div>
      <div class="button">
        <p>@Html.ActionLink("|| Machines ||", "Index", "Machines")</p>
      </div>
      <div class="button">
        <p>@Html.ActionLink("|| Engineers ||", "Index", "Engineers")</p>
      </div>
    </div>
    <div class="container">
      <div class="card">
        @RenderBody()
      </div>
    </div>
    <div class="footer">
      <p>copyright - Factory Manager Sim - 2077</p>
    </div>
  </body>
</html>
