@{
  Layout = "_Layout";
}

<h2>Factory Manager Home</h2>

<hr />

<p>Manage your engineers and operating machines from this app.</p>
<p>@Html.ActionLink("Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("Engineers", "Index", "Engineers")</p>